 
{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<section class="homepage-sections-wrapper collection-slider">
 
<div class="featured-collection-slider page-width">
  {% if section.settings.title != blank or section.settings.subheading != blank %}
  <div class="title-bar custom-font">
    {% if section.settings.title != blank %}
      <h2 class="wow">{{ section.settings.title | escape }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="type-subheading type-subheading--1 wow{% if section.settings.subheading != blank %} typography--padding-bottom{% endif %}">{{ section.settings.subheading | escape }}</h3>
    {% endif %}
    
  </div>
{% endif %}
 
{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.product_count -%}
 
    <div class="products-carousel js-flickity " data-flickity='{{ flickity_options }}'>
      {% for product in collection.products limit: product_limit %}
        <div class="carousel-cell">
          <a href="{{ product.url | within: collection }}" style="text-decoration:none;"  class="carousel-product">
            <img class="img-explore" src="{{ product.featured_image | img_url: 'master'}}">
            <h4 class="crafter-font carousel-title">{{ product.title }}</h4>
            <p>{{ product.price | money }}</p>
          </a>
      </div>  
    {% endfor %}
    </div>
</div>

</section>
 
<style>

  
  
#shopify-section-{{ section.id }} .collection-slider h4, #shopify-section-{{ section.id }} .collection-slider p,  #shopify-section-{{ section.id }} .collection-slider h2,  #shopify-section-{{ section.id }} .collection-slider h3{
    color: {{section.settings.text-color}};
  }
  .carousel-product{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .carousel-title{
    text-align:center;
    text-decoration:none;
    margin-top:2em;
  }


  #shopify-section-{{ section.id }} .collection-slider{
  background:{{section.settings.background-color}};
}

.featured-collection-slider{
  padding-left: 55px;
  padding-right: 55px;
  max-width: 92vw;
  margin: 0 auto;
  
}
.featured-collection-slider .carousel-cell{
  width:25%;
  padding: 0 15px;
  display: block;
}
.flickity-button:disabled{
  pointer-events: all!important;
}

.img-explore{
    width:16.5em;
    height:16.5em;
}
@media screen and (max-width: 920px){
  .featured-collection-slider{
    padding-left: 15px;
    padding-right: 15px;
  }
  .featured-collection-slider .carousel-cell{
    width:50%;
  }
}
@media screen and (max-width: 767px){
  .featured-collection-slider .carousel-cell{
    width:100%;
  }
}
</style>
 
{% schema %}
{
  "name": "Collection Slider",
  "settings": [
  {
    "type": "color",
    "id": "background-color",
    "label": {
        "en": "Background",
        "de": "Hintergrund",
        "es": "Fondo",
        "fr": "Contexte général",
        "pt-PT": "Fundo"
    },
    "default": "#ffffff"
},
{
  "type": "color",
  "id": "text-color",
  "label": {
      "en": "Text",
      "de": "Text",
      "es": "Texto",
      "fr": "Texte",
      "pt-PT": "Texto"
  },
  "default": "#000000"
},
  {
    "type": "text",
    "id": "subheading",
    "label": {
      "en": "Subheading",
      "de": "Unterüberschrift",
      "es": "Subencabezado",
      "fr": "Sous-rubrique",
      "pt-PT": "Subtítulo"
    }
  },
  {
    "type": "text",
    "id": "title",
    "label": {
      "en": "Heading",
      "de": "Überschrift",
      "es": "Encabezado",
      "fr": "Rubrique",
      "pt-PT": "Título"
    }
  },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 4,
      "max": 12,
      "label": "Number of products to display",
      "default": 4
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection Slider",
      "settings": {}
    }
  ]
}
{% endschema %}
