{{ 'section-image-with-text.min.css' | asset_url | stylesheet_tag }}



<section class="homepage-sections-wrapper  text-column-section mtn-with-img">
    <img class="mtn"  src="{{ section.settings.mtn | img_url: '1000x1000' }}"
    loading="lazy"}} style="background-color:transparent;" >
    <div class="container">
    	<div class="row">

        <div class="index-section col-md-12">
          <div class="page-width feature-row homepage-featured-content">

          	<div class="feature-row__container">
              <div >
            
                            <div class="column-groups">
                              <div class="first-time">{{section.settings.one}}</div>
                                <div class="second-time">{{section.settings.two}}</div>
                                  <div class="third-time">{{section.settings.three}}</div>
                                    <div class="four-time">{{section.settings.four}}</div>
                                      <div class="five-time">{{section.settings.five}}</div>
                                        <div class="six-time">{{section.settings.six}}</div>
                                          <div class="seven-time">{{section.settings.seven}}</div>
                               <img style="width:100%;" src="https://cdn.shopify.com/s/files/1/0552/0546/2188/files/MIW_timeline-min.gif?v=1664250940" >
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <style>

.first-time p{
  position: absolute;
    top: 68%;
    color: white;
    left: 0em;
    width: 11em;
}

.second-time p{
  position: absolute;
    top: 43%;
    color: white;
    left: 10em;
    width: 11em;

}

.third-time p{
  position: absolute;
    top: 68%;
    color: white;
    left: 23em;
    width: 11em;
}

.four-time p{
  position: absolute;
    top: 43%;
    color: white;
    left: 39em;
    width: 11em;

}

.five-time p{
  position: absolute;
    top: 68%;
    color: white;
    left: 54em;
    width: 11em;
}

.six-time p{
  position: absolute;
    top: 43%;
    color: white;
    left: 65em;
    width: 11em;

}


.seven-time p{
  position: absolute;
    top: 68%;
    color: white;
    left: 69em;
    width: 11em;
}


    #shopify-section-{{ section.id }}{
      background-color:transparent!important;
    }

    #shopify-section-{{ section.id }} .mtn-with-img .mtn{
        top: 7em;
        height:74%;
    }

    .mtn-with-img{
        padding-top:0 !important;
        padding-bottom: 0 !important;
    }
   
  </style>

{% schema %}
{
    "name": "Timeline Image With Text",
    "class": "homepage-section--text-and-image-wrapper",
    "settings": [
    {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#FFF"
      },
        {
            "type": "image_picker",
            "id": "mtn",
            "label": "Mountain Background"
            
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Main Image"
        },
        {
          "type": "richtext",
          "id": "one",
          "label": "First Timeline Section"
        }
        ,
        {
          "type": "richtext",
          "id": "two",
          "label": "Second Timeline Section"
        },
        {
          "type": "richtext",
          "id": "three",
          "label": "Third Timeline Section"
        },
        {
          "type": "richtext",
          "id": "four",
          "label": "Fourth Timeline Section"
        },
        {
          "type": "richtext",
          "id": "five",
          "label": "Fivth Timeline Section"
        },
        {
          "type": "richtext",
          "id": "six",
          "label": "Sixth Timeline Section"
        },
        {
          "type": "richtext",
          "id": "seven",
          "label": "Seventh Timeline Section"
        }
       

      
      ],
    "presets": [
        {
            "name": "Timeline Image with Text",
            "category": "Image"
        }
    ]
}
{% endschema %}
