{{ 'section-image-with-text.min.css' | asset_url | stylesheet_tag }}



<section class="homepage-sections-wrapper  text-column-section mtn-with-img bckin" >
    <img class="mtn"  src="{{ section.settings.mtn | img_url: '1000x1000' }}"
    loading="lazy"}} style="background-color:transparent;" >
    <div class="container">
    	<div class="row">

        <div class="index-section col-md-12">
          {% if section.settings.mob-header != blank %}
            <h2 class="wow animated mobile" style="margin: 0 auto;
            width: 90% !important;
            color: white;
            text-align: center;
            font-size: 1.4em;
            padding-top: 1em;" >{{section.settings.mob-header}}</h2>
          {% endif %}
          
          <div class="page-width feature-row homepage-featured-content" style="position:relative;">

          	<div class="feature-row__container">
              <div >
            
                            <div class="column-groups timeline-section">
                              <div class="first-time">{{section.settings.one}}</div>
                                <div class="second-time">{{section.settings.two}}</div>
                                  <div class="third-time">{{section.settings.three}}</div>
                                    <div class="four-time">{{section.settings.four}}</div>
                                      <div class="five-time">{{section.settings.five}}</div>
                                        <div class="six-time">{{section.settings.six}}</div>
                                          <div class="seven-time">{{section.settings.seven}}</div>
                                          <!-- <img style="width:100%;" src="{{section.settings.img}}" > -->
                               <img class="desktop" style="width:100%;" src="https://cdn.shopify.com/s/files/1/0552/0546/2188/files/MIW_timeline-min.gif?v=1664250940" >
                               <img class="mobile" style="width:100%;" src="https://cdn.shopify.com/s/files/1/0552/0546/2188/files/timeline-min_1.png" >
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <style>

  


    #shopify-section-{{ section.id }}{
      background-color:transparent!important;
    }

    #shopify-section-{{ section.id }} .mtn-with-img .mtn{
      top: 5em;
    height: 81%;

    }

    

    .mtn-with-img{
        padding-top:0 !important;
        padding-bottom: 0 !important;
    }

    @media only screen and (min-width: 1098px){
      .timeline-section .second-time p:first-child,.timeline-section .four-time p:first-child,.timeline-section .six-time p:first-child{
      top:38%;
    }

    .timeline-section .first-time p:first-child,.timeline-section .third-time p:first-child,.timeline-section .five-time p:first-child,.timeline-section .third-time p:first-child,.timeline-section .seven-time p:first-child{
      top:67%;
    }

.first-time p{
  position: absolute;
    top: 72%;
    color: white;
    left: 0em;
    width: 11em;
}

.second-time p{
  position: absolute;
    top: 43%;
    color: white;
    left: 10em;
    width: 11em;

}

.third-time p{
  position: absolute;
    top: 72%;
    color: white;
    left: 23em;
    width: 11em;
}

.four-time p{
  position: absolute;
    top: 43%;
    color: white;
    left: 33em;
    width: 23em;

}

.five-time p{
  position: absolute;
    top: 72%;
    color: white;
    left: 54em;
    width: 11em;
}

.six-time p{
  position: absolute;
    top: 43%;
    color: white;
    left: 65em;
    width: 11em;

}


.seven-time p{
  position: absolute;
    top: 72%;
    color: white;
    left: 69em;
    width: 11em;
}
    
    }


    @media only screen and (max-width: 1097px){

      .bckin{
        background-color:{{section.settings.bck-color}};
      }
        #shopify-section-{{ section.id }}
        {
          margin-top: 12em;
        }


        #shopify-section-{{ section.id }} .mtn{
          /* top: -8em !important; */
    height: auto !important;
        }

        #shopify-section-{{ section.id }} .mobile{
          width: 28% !important;
        }

        .timeline-section{
          margin: 8em 0;
        }

        .timeline-section div p{
          text-align:left;
          color:white;
        }

        .timeline-section div {
          position: absolute;
          width: 58%;
          right: 2em;
        }

        .seven-time{
          bottom: -4.6%;
        }

        .six-time{
          bottom: 2.8%;
        }

        .five-time{
          bottom: 19.5%;
        }

        .four-time{
          bottom: 37.6%;
        }

        .third-time{
          top: 34.3%;
        }

        .second-time{
          top: 13.6%;
        }

        .first-time{
          top: 1%;
        }
        
    }

    @media only screen and (min-width:768px) and (max-width:1098px){

      #shopify-section-{{ section.id }} .timeline-section .mobile{
    width: 13.9% !important;
    margin-left: 7em !important;
}

.bckin{
  padding-top:5em !important;
}
    }
   
  </style>

{% schema %}
{
    "name": "Timeline Image With Text",
    "class": "homepage-section--text-and-image-wrapper",
    "settings": [
    {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#FFF"
      },
      
        {
            "type": "image_picker",
            "id": "mtn",
            "label": "Mountain Background"
            
        },
       
     
        {
          "type": "richtext",
          "id": "one",
          "label": "First Timeline Section"
        }
        ,
        {
          "type": "richtext",
          "id": "two",
          "label": "Second Timeline Section"
        },
        {
          "type": "richtext",
          "id": "three",
          "label": "Third Timeline Section"
        },
        {
          "type": "richtext",
          "id": "four",
          "label": "Fourth Timeline Section"
        },
        {
          "type": "richtext",
          "id": "five",
          "label": "Fivth Timeline Section"
        },
        {
          "type": "richtext",
          "id": "six",
          "label": "Sixth Timeline Section"
        },
        {
          "type": "richtext",
          "id": "seven",
          "label": "Seventh Timeline Section"
        },
        {
          "type": "color",
          "id": "bck-color",
          "label": "Mobile Background Color",
          "default": "#557151"
        },
         {
          "type": "text",
          "id": "mob-header",
          "label": "Mobile Header"
        }
       

      
      ],
    "presets": [
        {
            "name": "Timeline Image with Text",
            "category": "Image"
        }
    ]
}
{% endschema %}
